header{
   background-color: gold;
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
   
   
    align-items: center;
    justify-content: center;
}


section{
    
background-color: rgba(239, 17, 17, 0);
height: 200px;
width: 100%;

display: flex;

gap: 15px;

margin-top: 10px;

}

div{
    
background-color: rgb(20, 238, 20);
    height: 200px;
    width: 100%;
gap: 15px;

}