section{
 background-color: darkolivegreen;
 height: 300px;

 display:flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;

gap: 10px;   
}

div{
    background-color: rgb(9, 50, 9);
    height: 200px;
    width: 100%;
}